- name: Wait for Servers
  hosts: workshop_servers
  gather_facts: no
  tasks:

    - name: Wait for port 22 to become available.
      local_action: "wait_for port=22 host={{ inventory_hostname }}"

- name: Provision Servers
  hosts: workshop_servers
  gather_facts: yes
  user: ubuntu
  become: yes
  become_user: root
  roles:

    - jpnewman.java

  post_tasks:

    - name: Ensure /code directory exists
      file:
        path: /code
        state: directory

#    - name: Add Jar file
#      copy:
#        src: jars/sparkexample-jar-with-dependencies.jar
#        dest: /code/sparkexample-jar-with-dependencies.jar

#    - block:
#
#        - name: Starting process java -jar /code/sparkexample-jar-with-dependencies.jar
#          shell: java -jar /code/sparkexample-jar-with-dependencies.jar &
#
#      rescue:
#
#        - name: Kill running process java -jar /code/sparkexample-jar-with-dependencies.jar
#          shell: kill -9 $(ps -fea --no-headers | grep sparkexample-jar-with-dependencies.jar | awk '{ print $2 }')
#
#        - name: "[RETRY] Starting process java -jar /code/sparkexample-jar-with-dependencies.jar"
#          shell: java -jar /code/sparkexample-jar-with-dependencies.jar &