---
- name: Provision infrastructure
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - vars/vars_infrastructure.yml
  tasks:
    - include_role:
        name: aws-networking
    - include_vars: vars/vpc_role_vars
    - include_role:
        name: aws-ec2-security-groups
    - include_role:
        name: aws-ec2-instances
    - debug: var=ec2_created_instances
    - name: Saving created instances public IPs to inventory file
      lineinfile:
        line: "{{ item.public_ip }}"
        insertafter: EOF
        path: hosts/{{ env }}_inventory
      with_items:
        - "{{ ec2_created_instances.tagged_instances }}"